.contact {
   padding: $section-padding;
}

.form-wrapper {
   display: flex;
   justify-content: center;
}

.form {
   width: 100%;
   max-width: 500px;

   &-input {
      font-size: $font-s;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      margin-bottom: 20px;
      
      label {
         display: block;
      }

      input {
         display: block;
         width: 100%;
         padding: 15px;
         border: none;
         border-radius: 3px;
         background: darken($c-white, 10%);
         font-family: $font-primary;
         font-size: $font-s;
         color: $c-matte-black;

         &:focus {
            outline: none;
         }
      }

      textarea {
         display: block;
         width: 100%;
         padding: 1.5rem;
         background: darken($c-white, 10%);
         font-family: $font-primary;
         font-size: $font-s;
         color: $c-matte-black;
         border: none;
         border-radius: 3px;
         resize: none;

         &:focus {
            outline: none;
         }
      }
   }

   button {
      width: 100%;
      padding: 1.5rem 0;
      font-size: $font-s;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
   }
}