@keyframes float {
   100% {
      transform: translateY(10px);
   }
}

.divider {
   min-height: 250px;
   background: $c-pink;
   position: relative;

   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;

   img {
      // box-shadow: 0 0 10px rgba(#000, 0.4);
      position: relative;
      bottom: 50px;
      width: calc(50% + 140px);
      max-width: 500px;
      animation: float 2s ease-in-out infinite alternate;
   }

   &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      height: 25vh;
      width: 100%;
      background: url('/img/divider-wave.svg') no-repeat center bottom/cover;
      // display: block;
      // z-index: 1;
   }
}

@media (max-width: 500px) {
   .divider {
      min-height: 220px;
      margin-top: 0;

      img {
         bottom: auto;
         animation: none;
      }
   }
}