.experience {
   background: darken($c-white, 10%);
   padding: $section-padding;
}

// .work li {
//    position: relative;
//    width: 6px;
//    background: #000;
//    padding-bottom: 3rem;
// }
.timeline {
   position: relative;
}

.work {
   &::before {
      content: '';
      // display: inline-block;
      position: absolute;
      width: 10px;
      height: 100%;
      background: red;
   
      //  left: 0;
      //  top: 0;
      //  border: 3px solid #3a4a5d;
      //  border-radius: 5px;   
   }

   li {
      // padding-left: 2rem;
      padding: 3rem 0 3rem 3rem;
      // margin-bottom: 3rem;

      h4 {

         &::before {
            content: '';
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            border: 3px solid #1894ff;
            transform: rotate(45deg);
            left: -2px;
         }
      }
   }

}

