// Footer Component
.footer {
   background-color: $c-black-matte;
   color: darken($c-white, 5%);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3rem 0;

   p {
      font-size: $fs-300;
      letter-spacing: 1px;
   }
}
