// Footer Component
.footer {
   background-color: $clr-black-matte;
   color: darken($clr-white, 5%);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 4rem 0;
}

@media (max-width: 500px) {
   .footer {
      padding: 3rem 0;
   }
}
