.hamburger {
   position: fixed;
   top: 0;
   left: 0;
   margin: 15px 0 0 15px;
   z-index: 100;
   background: transparent;
   border: none;
   cursor: pointer;
   mix-blend-mode: difference;

   &:focus {
      outline: none;
   }

   & div {
      width: 25px;
      height: 2.5px;
      display: block;
      margin: 5px auto;
      background: $c-white;

      &:nth-of-type(2) {
         width: 35px;
      }
   }
}

.navigation {
   background: $c-white;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 45%;
   z-index: 99;
   transform: translateX(-100%);
   transition: all 0.4s ease-in-out;

   &.active {
      transform: translateX(0);
   }

   ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      li {
         margin: 2rem 0;
      }
   }
}

.external {
   position: fixed;
   top: 0;
   right: 0;
   margin: 15px 15px 0 0;
   z-index: 97;
   // mix-blend-mode: difference;
   display: flex;

   & a {
      fill: $c-white;
      margin-left: 15px;
   }
}

@media (max-width: 500px) {
   .navigation {
      width: 55%;
   }
}

// Hamburger -> Drawer -> Backdrop -> Externals [Z-index priority]