.hero {
   background: radial-gradient($c-matte-black, darken($c-matte-black, 10%));
   color: darken($c-white, 10%);
   min-height: 100vh;
   padding: $section-padding;
   
   display: flex;
   align-items: center;
}

.hero-inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.hero-text {
   margin-right: 1rem;

   h1 {
      background: $c-gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.4;
   }

   h2 {
      line-height: 1.4;
   }

   span {
      margin-left: 5px;
   }

   p {
      margin: 3rem 0 5rem 0;
      max-width: 60rem;
   }
}

.call-to-action {
   a:nth-of-type(1) {
      margin-right: 2.5rem;
   }
}

#task1, #task2, #task3, #task4, #task5 {
   animation: spin 5s linear infinite;
   transform-box: fill-box;
   transform-origin: center;
}

#path {
   animation: spin 10s linear infinite;
   transform-box: fill-box;
   transform-origin: center;
}

// Spinning animation
@keyframes spin {
   100% {
      transform: rotate(360deg);
   }
}

@media (max-width: 800px) {
   // Hides svg
   #professional {
      display: none;
   }

   .hero-text {
      margin-right: 0;
   }
}

@media (max-width: 500px) {
   .hero-text {
      p {
         margin: 2rem 0 3rem 0;
      }
   }
}
