.hero {
   background: radial-gradient($c-matte-black, darken($c-matte-black, 10%));
   height: 100vh;
   color: darken($c-white, 5%);

   .container {
      height: 100%;
   }

   &-intro {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   
   &-text {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
   }

   h1 {
      background: $c-gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.4;
   }

   h2 {
      line-height: 1.4;
   }

   h4 {
      margin-left: 5px;
   }

   p {
      font-size: clamp(1.5rem, calc(1rem + 0.75vw), 3rem);
      margin: 3rem 0 5rem 0;
      max-width: 60rem;   // for widescreen set 80rem
   }
}

.call-to-action {
   a:nth-of-type(1) {
      margin-right: 2.5rem;
   }
}

@media (max-width: 800px) {
   // .hero-intro {
   //    flex-direction: column;
   // }
}

#box1, #box2, #box3,
#outline1, #outline2, #outline3 {
   animation: spin 4s linear infinite;
   transform-box: fill-box;
   transform-origin: center;
}

@keyframes spin {
   100% {
      transform: rotate(360deg);
   }
}