.hero {
   background: $c-matte-black;
   height: 100vh;
   color: $c-white;
   position: relative;

   .container {
      height: 100%;
   }

   &-intro {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 10;
      position: relative;

      #gg {
         position: absolute;
         top: 50%;
         right: 0%;
         transform: translateY(-50%);
      }
   }
   
   &-text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      // z-index: 10;
   }

   h1 {
      color: $c-special;
      // background: $c-nex;
      // background-clip: text;
      // -webkit-text-fill-color: transparent;
   }

   h2 {
      // color: darken($c-white, 5%);
      // color: #f7f7f7;
   }

   h4 {
      margin-left: 0.5rem;
   }

   p {
      font-size: clamp(1.5rem, calc(1rem + 0.75vw), 3rem);
      margin: 3rem 0 5rem 0;
   }
}


.call-to-action {
   a:nth-of-type(1) {
      margin-right: 2rem;
   }
}
