/* Contains
    CONFIG
    GLOBAL SETTINGS
    UTILITY CLASSES */


@font-face {
  font-family: 'Biotif-Regular';
  src: url('/fonts/Biotif-Regular.ttf');
}

/* @font-face {
  font-family: 'Biotif-Bold';
  src: url('/fonts/Biotif-Bold.ttf');
} */

/* GLOBAL SETTINGS */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: $bg-light;
  color: white;
  font-family: $font-primary;
  line-height: 1.6;
}

/* h1 {
  font-family: 'Josefin Sans Thin', sans-serif;
  font-size: var(--header1);
  letter-spacing: calc(0.1rem + 0.25vw);
}

h2 {
  font-family: 'Josefin Sans Light', sans-serif;
  font-size: var(--header2);
}

h3 {
  font-family: 'Josefin Sans Light', sans-serif;
  font-size: var(--header3);
}

h4 {
  font-family: 'Josefin Sans Light', sans-serif;
  font-size: var(--header4);
} */

p, span, li, a, label, input, button {
  font-size: $text-size-m;
}

ul {
  list-style: none;
}

a {
  /* color: var($text-color-primary); */
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

/* img {
  width: 100%;
} */

/* UTILITY CLASSES */
.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  border: none;
  /* border-bottom: 1px solid var(--matte-black); */
  /* font-style: italic; */
  cursor: pointer;
  /* background: transparent; */
  /* color: var(--matte-black); */
}

.btn:focus {
  outline: none;
}