$bg-light: #fff;

  $font-primary: 'Biotif-Regular', sans-serif;
  
  $text-color-primary : #191919;

  /* --l-text: calc(1.2rem + 0.75vw); */
  $text-size-m: calc(1rem + 0.5vw);
  /* --s-text: calc(0.8rem + 0.5vw); */

  /* --section-padding: calc(8rem + 2vw) 0; */