.about {
   background-color: $c-black-matte;
   padding: $padding-section;
}

.about-inner {
   color: darken($c-white, 5%);
   display: flex;
   align-items: center;
}

.about-image {
   flex: 1 1 40%;
}

// Animation: Rotation
@keyframes productivity {
   from {
      transform: rotateZ(-4deg);
   }

   to {
      transform: rotateZ(4deg);
   }
}

@keyframes clock {
   100% {
      transform: rotate(360deg);
   }
}

#dev {
   animation: productivity 1.5s infinite alternate;
   transform-origin: bottom;
}

#clock-hand {
   animation: clock 2s infinite linear;
   transform-box: fill-box;
   transform-origin: bottom;
}

.about-content {
   flex: 1 1 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 5rem;

   p {
      margin-bottom: 1.5rem;
   }
}

.skillset {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   row-gap: 0.3rem;

   li {
      position: relative;
      font-size: $font-m;
      padding-left: 20px;

      &::before {
         content: '';
         position: absolute;
         top: 50%;
         left: 0;
         height: 8px;
         width: 8px;
         background-color: darken($c-pink, 10%);
         transform: translateY(-50%) rotate(45deg);
      }
   }
}

@media (max-width: 800px) {
   .about-inner {
      flex-direction: column-reverse;
      align-items: stretch;
   }

   .about-content {
      padding-left: 0;
      margin-bottom: 5rem;
   }
}