.contact {
   padding: $padding-section;
}

.form-wrapper {
   display: flex;
   justify-content: center;
}

.form {
   width: 100%;
   max-width: 500px;

   &-input {
      font-size: $font-s;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 20px;
      text-transform: uppercase;
      
      label {
         display: block;
      }

      input {
         background: darken($c-white, 10%);
         border: none;
         border-radius: 3px;
         color: $c-black-matte;
         font-family: $font-primary;
         font-size: $font-s;
         display: block;
         width: 100%;
         padding: 15px;

         &:focus {
            outline: none;
         }
      }

      textarea {
         background: darken($c-white, 10%);
         border: none;
         border-radius: 3px;
         color: $c-black-matte;
         font-family: $font-primary;
         font-size: $font-s;
         display: block;
         width: 100%;
         padding: 1.5rem;
         resize: none;

         &:focus {
            outline: none;
         }
      }
   }

   button {
      font-size: $font-s;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 1.5rem 0;
      text-transform: uppercase;
      width: 100%;
   }
}