.contact {
   padding: $pad-y5_8;
}

.form-wrapper {
   display: flex;
   justify-content: center;
}

.form {
   width: 100%;
   max-width: 500px;

   &-control {
      font-size: $fs-300;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 2rem;
      text-transform: uppercase;

      label {
         display: block;
         font-size: $fs-300;
      }

      input {
         background-color: darken($c-white, 10%);
         border: none;
         border-radius: 3px;
         color: $c-black-matte;
         font-family: inherit;
         font-size: $fs-300;
         display: block;
         width: 100%;
         padding: 1.2rem;

         &:focus {
            outline: none;
         }
      }

      textarea {
         background-color: darken($c-white, 10%);
         border: none;
         border-radius: 3px;
         color: $c-black-matte;
         font-family: inherit;
         font-size: $fs-300;
         display: block;
         width: 100%;
         padding: 1.2rem;
         resize: none;

         &:focus {
            outline: none;
         }
      }
   }

   button {
      font-size: $fs-300;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 1.2rem 0;
      text-transform: uppercase;
      width: 100%;
   }
}
