.hero {
   background-color: $c-black-matte;
   color: darken($c-white, 5%);
   display: flex;
   align-items: center;
   min-height: 100vh;
   padding: $pad-y5_8;
}

.hero-inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

// Animation: Element fade-in
@keyframes fadeIn {
   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}

@mixin animateFadeIn($delay) {
   opacity: 0;
   transform: translateY(20px);
   animation: fadeIn 0.5s ease-in-out forwards $delay;
}

.hero-text {
   flex: 1 1 60%;
   margin-right: 1rem;

   span {
      display: inline-block;
      margin-left: 5px;
      @include animateFadeIn(2.2s);
   }

   h1 {
      background: $c-pink-gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.4;
      @include animateFadeIn(2.3s);
   }

   h2 {
      line-height: 1.4;
      @include animateFadeIn(2.4s);
   }

   p {
      margin: 3rem 0 5rem 0;
      max-width: 60rem;
      @include animateFadeIn(2.5s);
   }
}

.call-to-action {
   @include animateFadeIn(2.6s);

   a:nth-of-type(1) {
      margin-right: 2.5rem;
   }
}

.hero-img {
   flex: 1 1 40%;
   display: flex;
   align-items: center;
}

// Animation: Spin
@keyframes spin {
   100% {
      transform: rotate(360deg);
   }
}

// Animation: Opacity
@keyframes visibility {
   100% {
      opacity: 1;
   }
}

#person {
   opacity: 0;
   animation: visibility 0.5s ease-in-out forwards 0.6s;
}

#task1,
#task2,
#task3,
#task4,
#task5 {
   opacity: 0;
   animation: visibility 0.5s ease-in-out forwards 1.3s;
}

#path {
   opacity: 0;
   animation: visibility 0.5s ease-in-out forwards 3.2s,
      spin 10s linear infinite 3.7s;
   transform-box: fill-box;
   transform-origin: center;
}

@media (min-width: 1100px) {
   .hero-text {
      flex: 1 1 65%;
   }

   .hero-img {
      flex: 1 1 35%;
   }
}

@media (max-width: 800px) {
   .hero-img {
      display: none;
   }

   .hero-text {
      margin-right: 0;

      span {
         @include animateFadeIn(0.6s);
      }

      h1 {
         @include animateFadeIn(0.7s);
      }

      h2 {
         @include animateFadeIn(0.8s);
      }

      p {
         @include animateFadeIn(0.9s);
      }
   }

   .call-to-action {
      @include animateFadeIn(1s);
   }
}

@media (max-width: 500px) {
   .hero-text {
      p {
         margin: 2rem 0 3rem 0;
      }
   }
}
