.projects {
   padding: $padding-section;
}

.projects-wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: clamp(4rem, calc(2rem + 4vw), 8rem);
}

.project-image {
   // height: 350px;
   margin-bottom: 3rem;
   border-radius: 2px;
   overflow: hidden;
   transition: transform 0.3s ease-in-out;

   &:hover {
      transform: scale(1.05);
   }

   img {
      display: block;
      // height: 100%;
      // object-fit: cover;
   }
}

.project-content {
   // flex: 1 1 50%;
   // padding: 2rem;

   h4 {
      font-weight: 700;
   }

   p {
      margin: 1rem 0 2rem 0;
      color: lighten($c-black-matte, 25%);
      max-width: 500px;
   }

   .project-tech-list {
      display: flex;

      li {
         margin-right: 10px;
         // font-size: $font-s;
         // font-weight: 700;
      }
   }

   .project-links {
      margin-top: 2rem;

      a {
         // display: inline-block;
         margin-right: 2rem;
      }
   }
}

@media (max-width: 800px) {
   .projects-wrapper {
      grid-template-columns: 1fr;
      gap: 5rem;
   }

   .project-content {
      p {
         max-width: 100%;
      }
   }
}