// Fonts
$font-primary: 'Biotif-Regular', sans-serif;

// Text Sizes
// $text-size-l: calc(1.2rem + 0.75vw);
$text-size-m: calc(1rem + 0.5vw);
// $text-size-s: calc(0.8rem + 0.5vw);

// Colors
$bg-light: #fff;
$text-color-primary : #191919;

// Section padding
/* --section-padding: calc(8rem + 2vw) 0; */