// Global Styles

*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}
 
body {
   background: $c-white;
   color: $c-matte-black;
   font-family: $font-primary;
   line-height: 1.6;
}

h1 {
   font-size: $header1;
}
h2 {
   font-size: $header2;
}
h3 {
   font-size: $header3;
}
h4 {
   font-size: $header4;
   font-weight: 400;
}

div, span, p, a, li, label, input, button {
   font-size: $font-m; //clamp(1.5rem, calc(1rem + 0.75vw), 3rem)
}

ul {
   list-style: none;
}

a {
   /* color: var($c-matte-black); */
   color: inherit;
   text-decoration: none;
}

button {
   color: inherit;
   font-family: inherit;
}

img {
   width: 100%;
}
