/* GLOBAL SETTINGS */
*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}
 
body {
   background: $c-white;
   color: $c-matte-black;
   font-family: $font-primary;
   line-height: 1.5;
}

h1 {
   @include header($header1, 700, 0px);
}
h2 {
   @include header($header2, 700, 0px);
}
h3 {
   @include header($header3, 400, 1px);
}
h4 {
   @include header($header4, 400, 1px);
}

div, span, p, a, li, label, input, button {
   font-size: clamp(1.5rem, calc(1rem + 0.75vw), 3rem);   // $font-m
}

ul {
   list-style: none;
}

a {
   /* color: var($c-matte-black); */
   color: inherit;
   text-decoration: none;
}

button {
   color: inherit;
   font-family: inherit;
}

/* img {
   width: 100%;
} */
