// Utility Classes and Mixins

.container {
   width: 90%;
   max-width: 1440px;
   margin: 0 auto;
}

.container-small {
   width: 90%;
   max-width: 1280px;
   margin: 0 auto;
}
 
// Buttons
%btn-common {
   border: none;
   border-radius: 3px;
   cursor: pointer;
   display: inline-block;
   transition: all 0.4s ease;
}

.btn {
   &-pink {
      @extend %btn-common;
      background: $c-pink;
      color: $c-white;
      padding: 1rem 2.5rem;

      &:hover {
         background: darken($c-pink, 15%);
      }
   }
}

// Section Headers
%head-common {
   text-align: center;
   margin-bottom: calc(6rem + 1.5vw);

   h3:after {
      content: "";
      display: block;
      height: 4px;
      width: 55px;
      margin: 0 auto;
      margin-top: 25px;
   }
}

.head {
   &-pink {
      @extend %head-common;
      color: darken($c-pink, 5%);

      h3:after {
         background: darken($c-pink, 5%);
      }
   }

   &-white {
      @extend %head-common;
      color: darken($c-white, 5%);

      h3:after {
         background: darken($c-white, 5%);
      }
   }

   &-black {
      @extend %head-common;
      color: $c-matte-black;

      h3:after {
         background: $c-matte-black;
      }
   }
}

// Header properties
// @mixin header($f-size, $f-weight, $l-spacing) {
//    font-size: $f-size;
//    font-weight: $f-weight;
//    letter-spacing: $l-spacing;
// }
