// Utility Classes and Mixins
.container {
   width: 90%;
   max-width: 1280px;
   margin: 0 auto;
}

// Buttons
%btn-common {
   border: none;
   border-radius: 3px;
   display: inline-block;
   transition: all 0.4s ease;
}

.btn {
   &-pink {
      @extend %btn-common;
      background-color: $clr-pink;
      color: $clr-white;
      padding: 1rem 2.5rem;

      &:hover {
         background-color: darken($clr-pink, 10%);
      }
   }
}

// Section Headers
%head-common {
   text-align: center;
   margin-bottom: calc(6rem + 1.5vw);

   h2 {
      font-size: $fs-600;
      font-weight: 600;
   }

   h2:after {
      content: "";
      display: block;
      height: 5px;
      width: 55px;
      margin: 0 auto;
      margin-top: 25px;
   }
}

.head {
   &-black {
      @extend %head-common;
      color: $clr-black-matte;

      h2:after {
         background-color: $clr-black-matte;
      }
   }

   &-pink {
      @extend %head-common;
      color: $clr-pink;

      h2:after {
         background-color: $clr-pink;
      }
   }

   &-white {
      @extend %head-common;
      color: darken($clr-white, 5%);

      h2:after {
         background-color: darken($clr-white, 5%);
      }
   }
}
